In [1]:
import json
import pandas as pd
import gzip

# Loading metadata

In [2]:
meta = []
with gzip.open('meta_Movies_and_TV.json.gz') as f:
    for l in f:
        meta.append(json.loads(l.strip()))
    
# total length of list, this number equals total number of products
print(len(meta))

# first row of the list
print(meta[0])

203970
{'category': ['Movies & TV', 'Movies'], 'title': 'Understanding Seizures and Epilepsy', 'rank': '886,503inMoviesTV(', 'main_cat': 'Movies & TV', 'asin': '0000695009'}

In [9]:
meta[43]

{'category': ['Movies & TV',
  'Genre for Featured Categories',
  'Faith & Spirituality'],
 'description': ['Sarah was the only woman in the Bible who had her youth renewedliterallyin her old age, such that two kings wanted her! She even conceived and bore Abraham a healthy son. Moses, at 120 years old, still had perfect eyesight and was as strong as a young man. Caleb, at the age of 85, declared that he was as strong as he had been at the age of 40, not just for daily activities, but also for war! And he proved it by claiming a whole mountain and driving out the giant inhabitants. So what are the secrets to their divine strength and youthfulness? The astounding answers and truths revealed by Joseph Prince will charge you up spiritually and give you the faith to receive a literal renewal of youth and the miracle you are believing God for! 3-DVD Album (This DVD Album contains 3 Sermons with 3 Discs) Disc 1: The Secrets Of Divine Strength And YouthfulnessSecrets of Sarah (Approx. 1hr 00min) Disc 2: The Secrets Of Divine Strength And YouthfulnessThe Secret Of Moses (Approx. 1hr 15min) Disc 3: The Secrets Of Divine Strength And YouthfulnessThe Secret Of Caleb (Approx. 57min)',
  'With more than two decades of full-time ministry behind him, Pastor Joseph Prince is today a leading voice in proclaiming the gospel of grace around the world through his teaching resources and television ministry. A highly sought-after conference speaker, Pastor Prince has impacted church leaders internationally by preaching the unadulterated gospel of Jesus with boldness. He is known for teaching Gods Word in a fresh, practical and revelatory way that always unveils Jesus. His humorous, dynamic and engaging style of preaching has also endeared him to a wide spectrum of viewers who tune in to his daily television programme, Destined To Reign. This broadcast currently reaches millions of homes across North America, Europe, Africa, Australia and Israel on both secular and Christian networks.'],
 'title': 'The Secrets of Divine Strength And Youthfulness Album  NTSC',
 'image': ['https://images-na.ssl-images-amazon.com/images/I/51AJOic9WAL._SX38_SY50_CR,0,0,38,50_.jpg'],
 'brand': 'Joseph Prince',
 'rank': '359,382inMoviesTV(',
 'main_cat': 'Movies & TV',
 'price': '$29.81',
 'asin': '0020110006'}

In [3]:
meta_df = pd.DataFrame(meta)

In [4]:
meta_df.head()

,category,title,rank,main_cat,asin,image,description,brand,also_buy,also_view,price,details,feature,date,tech1
0,"[Movies & TV, Movies]",Understanding Seizures and Epilepsy,"886,503inMoviesTV(",Movies & TV,0000695009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[Movies & TV, Movies]",Spirit Led—Moving By Grace In The Holy Spirit'...,"342,688inMoviesTV(",Movies & TV,0000791156,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[Movies & TV, Movies]",My Fair Pastry (Good Eats Vol. 9),"370,026inMoviesTV(",Movies & TV,0000143529,[https://images-na.ssl-images-amazon.com/image...,[Disc 1: Flour Power (Scones; Shortcakes; Sout...,Alton Brown,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[Movies & TV, Movies]","Barefoot Contessa (with Ina Garten), Entertain...","342,914inMoviesTV(",Movies & TV,0000143588,NaN,[Barefoot Contessa Volume 2: On these three di...,Ina Garten,"[B002I5GNW4, B005WXPVMM, B009UY3W8O, B00N27ID1...","[B002I5GNW4, 0804187045, B009UY3W8O, 060960219...",$74.95,NaN,NaN,NaN,NaN
4,"[Movies & TV, Movies]",Rise and Swine (Good Eats Vol. 7),"351,684inMoviesTV(",Movies & TV,0000143502,[https://images-na.ssl-images-amazon.com/image...,[Rise and Swine (Good Eats Vol. 7) includes bo...,Alton Brown,"[B000P1CKES, B000NR4CRM]",[B0015SVNXY],NaN,NaN,NaN,NaN,NaN

In [6]:
meta_df.shape

(203970, 15)

# Loading Reviews

In [7]:
reviews = []
for line in open('Movies_and_TV_5.json', 'r'):
    reviews.append(json.loads(line))

In [8]:
reviews[5]

{'overall': 5.0,
 'verified': True,
 'reviewTime': '10 17, 2007',
 'reviewerID': 'A3TNYNA2360NPA',
 'asin': '000503860X',
 'style': {'Format:': ' DVD'},
 'reviewerName': 'Stanley  C. Sargent',
 'reviewText': 'I\'ve loved X since I first saw them here in San Francisco with, I believe, Devo and Romeo Void.  Romeo Void was a disaster due to the tiny outfit Deborah squeezed her huge body into; the audience couldn\'t stand to look at her even when the music was good. Devo was quite good. Then X came on stage and it was like hearing a great music system play compared to a tinny radio\'s sound. Man, they were great and they, unlike 99% of the other "new wave/punk" bands of the era were pros.  They had it down and played it up. I loved them! Watching this excellent reunion video (yes, Billy Zoom still has that same perpetual, inane smile on his face while playing), I was surprised to see very much the same show I saw all those years ago, with some extra songs that came out later, that is. The band\'s still electrifying. I\'d like to see them "live" again, but until then, this video is the next best thing. It\'s well filmed and has a great selection of their best songs. Sure, they aren\'t as "pretty" as they used to be, but before you say too much, check your rearview mirror to see how you look now compared to 20 some odd years ago. Then, once humbled, go buy this CD. You will love it!',
 'summary': 'A Revival to match the early shows by a great band',
 'unixReviewTime': 1192579200}

In [9]:
reviews_df = pd.DataFrame(reviews)

In [10]:
reviews_df.shape

(3410019, 12)

In [12]:
reviews_df.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,5.0,True,"11 9, 2012",A2M1CU2IRZG0K9,0005089549,{'Format:': ' VHS Tape'},Terri,So sorry I didn't purchase this years ago when...,Amazing!,1352419200,NaN,NaN
1,5.0,True,"12 30, 2011",AFTUJYISOFHY6,0005089549,{'Format:': ' VHS Tape'},Melissa D. Abercrombie,Believe me when I tell you that you will recei...,Great Gospel VHS of the Cathedrals!,1325203200,NaN,NaN
2,5.0,True,"04 21, 2005",A3JVF9Y53BEOGC,000503860X,{'Format:': ' DVD'},Anthony Thompson,"I have seen X live many times, both in the ear...",A great document of a great band,1114041600,11,NaN
3,5.0,True,"04 6, 2005",A12VPEOEZS1KTC,000503860X,{'Format:': ' DVD'},JadeRain,"I was so excited for this! Finally, a live co...",YES!! X LIVE!!,1112745600,5,NaN
4,5.0,True,"12 3, 2010",ATLZNVLYKP9AZ,000503860X,{'Format:': ' DVD'},T. Fisher,X is one of the best punk bands ever. I don't ...,X have still got it,1291334400,5,NaN

In [14]:
reviews_df['style'].value_counts()[:10]

{'Format:': ' DVD'}                   1645586
{'Format:': ' Amazon Video'}          1027966
{'Format:': ' Blu-ray'}                335181
{'Format:': ' Prime Video'}            158950
{'Format:': ' VHS Tape'}                61821
{'Format:': ' HD DVD'}                   1475
{'Format:': ' DVD-R'}                    1428
{'Format:': ' Theatrical Release'}        801
{'Format:': ' Audio CD'}                  657
{'Format:': ' DVD-ROM'}                   474
Name: style, dtype: int64

In [16]:
format_index = reviews_df['style'].value_counts()[:3].index
format_index

Index([{'Format:': ' DVD'}, {'Format:': ' Amazon Video'},
       {'Format:': ' Blu-ray'}],
      dtype='object')

# Loading Ratings

In [17]:
ratings = pd.read_csv('Movies_and_TV.csv', names = ['asin','user','rating','timestamp'])
ratings.drop('timestamp', axis = 1, inplace = True)

In [18]:
ratings.head()

         asin            user  rating
0  0001527665  A3478QRKQDOPQ2     5.0
1  0001527665  A2VHSG6TZHU1OB     5.0
2  0001527665  A23EJWOW1TLENE     5.0
3  0001527665  A1KM9FNEJ8Q171     5.0
4  0001527665  A38LY2SSHVHRYB     4.0

In [19]:
ratings.shape

(8765568, 3)

In [20]:
print(ratings['asin'].nunique())
print(ratings['user'].nunique())
print(ratings['rating'].nunique())

182032
3826085
5

# MERGED Reviews with Titles

In [21]:
merged_df = pd.merge(reviews_df, meta_df[['title', 'rank', 'main_cat', 'asin']], how = 'inner', 
         left_on='asin', right_on = 'asin')

In [22]:
merged_df.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image,title,rank,main_cat
0,5.0,True,"11 9, 2012",A2M1CU2IRZG0K9,0005089549,{'Format:': ' VHS Tape'},Terri,So sorry I didn't purchase this years ago when...,Amazing!,1352419200,NaN,NaN,Cathedral Quartet: A Reunion VHS,"679,734inMoviesTV(",Movies & TV
1,5.0,True,"12 30, 2011",AFTUJYISOFHY6,0005089549,{'Format:': ' VHS Tape'},Melissa D. Abercrombie,Believe me when I tell you that you will recei...,Great Gospel VHS of the Cathedrals!,1325203200,NaN,NaN,Cathedral Quartet: A Reunion VHS,"679,734inMoviesTV(",Movies & TV
2,2.0,False,"09 5, 2014",A2EHA554JUGZWL,0005089549,{'Format:': ' Audio CD'},Lura,NOt a great tape but the quality is good and f...,Two Stars,1409875200,NaN,NaN,Cathedral Quartet: A Reunion VHS,"679,734inMoviesTV(",Movies & TV
3,5.0,True,"07 9, 2014",AFUHAIDO20GKI,0005089549,{'Format:': ' VHS Tape'},David Mcclanahan,It met all of my expectations. I was well sat...,I was well satisfied with it,1404864000,NaN,NaN,Cathedral Quartet: A Reunion VHS,"679,734inMoviesTV(",Movies & TV
4,5.0,True,"04 21, 2005",A3JVF9Y53BEOGC,000503860X,{'Format:': ' DVD'},Anthony Thompson,"I have seen X live many times, both in the ear...",A great document of a great band,1114041600,11,NaN,Chapter X Live [VHS],"1,007,436inMoviesTV(",Movies & TV

In [23]:
print(merged_df.shape)
print(merged_df.asin.nunique())
print(merged_df.title.nunique())

(3856721, 15)
60175
58846

In [24]:
print(merged_df.reviewerID.nunique())

297529

In [25]:
merged_df.main_cat.value_counts()

Movies & TV                 3855384
Sports & Outdoors               507
Toys & Games                    256
All Electronics                 171
Books                           111
Amazon Home                      92
Industrial & Scientific          68
Tools & Home Improvement          6
Arts, Crafts & Sewing             5
Name: main_cat, dtype: int64

In [66]:
merged_df = merged_df[merged_df['main_cat']=='Movies & TV']

## Titles

In [67]:
merged_df['title'].nunique()

58795

There are almost 60,000 unique titles of movies and shows and other formara

## Number of Reviews per Title

In [175]:
merged_df.title.value_counts()[:50]

Band Of Brothers (DVD)                                                             11424
Guardians of the Galaxy                                                             7195
Guardians of the Galaxy [Blu-ray]                                                   7191
Guardians Of The Galaxy Region Free                                                 7188
John Adams                                                                          7061
Lucy                                                                                6926
Band of Brothers(Elite SC/BD+DCExp12-21)                                            5748
Star Trek Into Darkness                                                             5472
The Wire: Season 1                                                                  5164
Blade Runner: The Final Cut                                                         4743
The Lord Of The Rings: Trilogy                                                      4684
The Martian                                                                         4500
24: Season 1                                                                        4342
Terminator, The                                                                     4220
The Hunger Games: Catching Fire 2013                                                4169
The Mummy                                                                           4164
John Wick                                                                           4096
Downton Abbey - Series 4                                                            4054
Jack Reacher Combo                                                                  3981
Doctor Thorne - Season 1 2015                                                       3871
Jurassic World                                                                      3853
The Lord of the Rings: The Fellowship of the Ring                                   3834
The Big Lebowski VHS                                                                3726
Moodtapes: Pacific Surf                                                             3685
Kingsman: The Secret Service                                                        3680
The Hunger Games (2 Disc) [Region 2] [UK Import]                                    3599
The Lord of the Rings: The Return of the King                                       3442
Skyfall                                                                             3430
The Hobbit: The Battle of the Five Armies [DVD] [2015]                              3417
Hobbit 3: The Battle of the Five Armies                                             3414
The Hobbit: An Unexpected Journey                                                   3405
American Sniper 2014                                                                3376
The Captive Ryan Reynolds, Scott Speedman, Rosario Dawson (DVD)                     3293
The white queenÂ StagioneÂ 01The white queenÂ StagioneÂ 01 [4 DVDs] [IT Import]     3283
Gravity 2013  Region Free                                                           3279
Mad Max : Fury Road - Edition limitée 3D - Coffret Voiture [Blu-ray]                3266
Mad Max: Fury Road                                                                  3265
Taken 2                                                                             3263
No Country For Old Men                                                              3206
Bone Tomahawk                                                                       3181
The Hobbit: The Desolation of Smaug                                                 3155
The Dark Knight Theatrical Release                                                  3134
Wild                                                                                3073
The Lord of the Rings - The Two Towers VHS                                          2924
HERCULES                                                                            2896
The Equalizer                                                                       2873
Prometheus                                                                          2844
Avatar Steelbook  Limited UK Edition                                                2821
Harry Potter - Complete 8-Film Collection                                           2816
X-Men - Apocalypse - The Cure/Come The Apocalypse VHS                               2790
Name: title, dtype: int64

In [34]:
merged_df.title.value_counts()[merged_df.title.value_counts()>20]

Band Of Brothers (DVD)                                  11424
Guardians of the Galaxy                                  7195
Guardians of the Galaxy [Blu-ray]                        7191
Guardians Of The Galaxy Region Free                      7188
John Adams                                               7061
                                                        ...
Music for Montserrat                                       21
Dennis the Menace / Dennis the Menace: Strikes Again       21
Arne Dahl                                                  21
Street Fighter: Round One - FIGHT!                         21
Midnight In St.Petersburg                                  21
Name: title, Length: 26749, dtype: int64

In [143]:
merged_df  = merged_df[merged_df['title'].str.len() < 200]

In [144]:
print(merged_df.title.nunique())

57548

In [63]:
[(i) for i in [str(i) for i in format_index]]

["{'Format:': ' DVD'}",
 "{'Format:': ' Amazon Video'}",
 "{'Format:': ' Blu-ray'}"]

In [85]:
merged_df['style'].value_counts()

{'Format:': ' DVD'}                                1895009
{'Format:': ' Amazon Video'}                       1138190
{'Format:': ' Blu-ray'}                             356409
{'Format:': ' Prime Video'}                         158928
{'Format:': ' VHS Tape'}                             73637
{'Format:': ' HD DVD'}                                1949
{'Format:': ' DVD-R'}                                 1512
{'Format:': ' Theatrical Release'}                    1410
{'Format:': ' Audio CD'}                               667
{'Format:': ' UMD for PSP'}                            485
{'Format:': ' DVD-ROM'}                                478
{'Format:': ' Amazon Instant Video'}                   307
{'Format:': ' Hardcover'}                              127
{'Format:': ' Interactive DVD'}                         97
{'Format:': ' Paperback'}                               88
{'Format:': ' Laser Disc'}                              82
{'Format:': ' DVD Audio'}                               55
{'Format:': ' Unknown Binding'}                         41
{'Format:': ' Toy'}                                     38
{'Format:': ' CD-ROM'}                                  35
{'Format:': ' Electronics'}                             33
{'Format:': ' MP3 Music'}                               33
{'Format:': ' Kindle Edition'}                          32
{'Format:': ' Misc.'}                                   20
{'Format:': ' Staple Bound'}                            19
{'Format:': ' Video CD'}                                18
{'Size:': ' unknown'}                                   18
{'Format:': ' Wireless Phone Accessory'}                12
{'Format:': ' Kitchen'}                                 11
{'Format:': ' Kindle Edition with Audio/Video'}         11
{'Format:': ' Grocery'}                                  9
{'Format:': ' Audio Cassette'}                           8
{'Size:': ' Dolphins'}                                   8
{'Format:': ' Office Product'}                           7
{'Format:': ' Video Game'}                               6
{'Format:': ' Videotape'}                                5
{'Format:': ' Mass Market Paperback'}                    5
{'Format:': ' Vinyl'}                                    5
{'Format:': ' Audible Audiobook'}                        3
{'Format:': ' MiniDisc'}                                 3
{'Format:': ' Misc. Supplies'}                           2
{'Format:': ' MP3 CD'}                                   1
{'Format:': ' S-VHS'}                                    1
{'Format:': ' Unbound'}                                  1
{'Format:': ' Accessory'}                                1
{'Format:': ' Product Bundle'}                           1
Name: style, dtype: int64

In [98]:
subset_df = merged_df[(merged_df['style']==({'Format:': ' DVD'})) | 
                      ( merged_df['style']==({'Format:': ' Amazon Video'})) |
                     ( merged_df['style']==({'Format:': ' Blu-ray'})) |
                     ( merged_df['style']==({'Format:': ' Prime Video'}))]

In [112]:
print(subset_df.title.nunique())

6715

In [145]:
index_populated = subset_df.title.value_counts()[subset_df.title.value_counts()>100].index
index_populated

Index(['Band Of Brothers (DVD)', 'Guardians of the Galaxy',
       'Guardians of the Galaxy [Blu-ray]',
       'Guardians Of The Galaxy Region Free', 'Lucy',
       'Star Trek Into Darkness', 'John Adams',
       'Band of Brothers(Elite SC/BD+DCExp12-21)', 'The Martian',
       'Doctor Thorne - Season 1 2015',
       ...
       'Hetty Wainthropp Investigates: The Complete Collection',
       'The Bionic Woman: Season 3', 'High School DxD New: The Series',
       'Dylan Dog: Dead of Night', 'Vera, Set 3',
       'Chucky: The Complete Collection', 'The Invisible Man: Season One',
       'SEX AND THE CITY:CSR (Vivas SC/Rpkg/DVD)', 'High Fidelity VHS',
       'The Falls: Testament of Love'],
      dtype='object', length=4892)

In [146]:
subset_df.shape

(1787143, 15)

In [147]:
subset_df = subset_df[subset_df['title'].isin(index_populated)]

In [148]:
subset_df.shape

(1647877, 15)

In [149]:
subset_df.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image,title,rank,main_cat
37,5.0,True,"11 2, 2002",A1HP3B92A3JDQ1,0005019281,{'Format:': ' DVD'},OmegaWolf747,Of course it's impossible to separate Henry Wi...,The Fonz as Scrooge,1036195200,4,NaN,An American Christmas Carol VHS,"704,028inMoviesTV(",Movies & TV
42,5.0,True,"01 30, 2018",A131408USYVUN5,0005019281,{'Format:': ' DVD'},Conrad R. Naugle,as described,Five Stars,1517270400,NaN,NaN,An American Christmas Carol VHS,"704,028inMoviesTV(",Movies & TV
43,5.0,True,"01 25, 2018",A2U7DG83EXUSFP,0005019281,{'Format:': ' DVD'},Donald R. Brandeberry,A good movie with morals,Family movie,1516838400,NaN,NaN,An American Christmas Carol VHS,"704,028inMoviesTV(",Movies & TV
44,5.0,True,"01 11, 2018",A1NMYH2IITNOC4,0005019281,{'Format:': ' DVD'},Karen Ridge,Love the movie.,Great movie.,1515628800,NaN,NaN,An American Christmas Carol VHS,"704,028inMoviesTV(",Movies & TV
45,5.0,True,"01 5, 2018",A1DCI4344E1O3P,0005019281,{'Format:': ' Amazon Video'},Bob,This TV movie brought back fond memories of th...,Henry Winkler did a great job with the charact...,1515110400,NaN,NaN,An American Christmas Carol VHS,"704,028inMoviesTV(",Movies & TV

In [150]:
print(subset_df.verified.value_counts())
print(subset_df.verified.value_counts(normalize = True))

True    1647877
Name: verified, dtype: int64
True    1.0
Name: verified, dtype: float64

In [151]:
subset_df = subset_df[subset_df['verified'] == True]

In [152]:
subset_df.shape

(1647877, 15)

# Ratings matrix from the subset of merged data

In [153]:
subset_df.title.nunique()

4892

In [111]:
pd.pivot_table(subset_df, values='overall', index='reviewerID', columns='title')

KeyboardInterrupt:

In [154]:
print(subset_df.title.nunique())
print(subset_df.shape)
print(subset_df.groupby('title').size())

4892
(1647877, 15)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [157]:
 subset_df = subset_df[subset_df['title'].str.len() < 200]

In [158]:
subset_df.groupby('title').count()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image,rank,main_cat
title,,,,,,,,,,,,,,
"""Sriracha"" - a Documentary By Griffin Hammond [Blu-ray]",405,405,405,405,405,405,405,404,405,405,15,1,405,405
'71 2014,247,247,247,247,247,247,247,247,247,247,14,0,247,247
(500) Days of Summer,161,161,161,161,161,161,161,161,161,161,20,0,161,161
10 Cloverfield Lane,1240,1240,1240,1240,1240,1240,1240,1240,1239,1240,77,4,1240,1240
10 Things I Hate About You VHS,288,288,288,288,288,288,288,288,287,288,18,1,288,288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zulu,259,259,259,259,259,259,259,259,259,259,47,1,259,259
Zulu Dawn VHS,140,140,140,140,140,140,139,140,140,140,21,0,140,140
resident evil collection (5 dvd) box set dvd Italian Import,163,163,163,163,163,163,163,162,163,163,20,3,163,163
snowpiercer (2 blu-ray) blu_ray Italian Import,687,687,687,687,687,687,687,687,687,687,155,1,687,687
~HERO~,342,342,342,342,342,342,342,342,342,342,40,0,342,342

In [121]:
print(subset_df.groupby('title').size().max())

8554

In [115]:
subset_df.to_csv('reviews.csv', index = False)